<!doctype html>
<html lang="fr">
<head>
	 {% block head %}
	<meta charset="utf-8" />
	<link rel="stylesheet" href="./css/general.css" />
	<link rel="stylesheet" href="./css/assets/dist/css/blog.css" />
    <title>
    {% block title %}{% endblock %}
    </title>
    {% endblock %}
</head>
<body>
	<header>
		<h1> Article</h1>
	</header>
	<article>
		{% block content %}{% endblock %}
	</article>
	{% if message is not empty %}
	<p class="encadre Grand">
	  {{ message }}
	</p>
	{% endif %}

<footer>
    {% block footer %}
    &copy; Copyright 2021
    <a href="http://www.isikit.fr">
    Pascal</a>.
    {% endblock %}
</footer>
</body>
</html>
